

<p>
  <%= image_tag @disc.avatar.url(:thumb) %>  
</p>

<p>
  <strong>Name:</strong>
  <%= @disc.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @disc.year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @disc.price %>
</p>

<p>
  <strong>State:</strong>
  <%= @disc.state_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @disc.description %>
</p>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Comentarios
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">

      <%= render 'comments/feed', comments: @disc.feed %>

      <%= render 'comments/form_comment' %>
      
      </div>
    </div>
  </div>
</div>


<div class="form-group">
  <%= link_to 'Edit', edit_disc_path(@disc), class: "btn btn-primary" %>
  <%= link_to 'List All', discs_path, class: "btn btn-default" %>
  <%= link_to 'Buy', info_email_path,  {:remote => true, 'data-toggle' => "modal", 'data-target' => '.bs-example-modal-sm', class: "btn btn-success"}  %>  
</div>

<%= render partial: "info_email" %>

<script type="text/javascript">
$(function(){

  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });

})
</script>

<p>
  <div style='width: 450px;'>
  <div id="map" style='width: 400px; height: 200px;'></div>
  </div>
  
</p>
